

MYDIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

. $MYDIR/../os_config.sh

{% for node in m.cluster.nodes %}
STATUS=$(openstack server show {{ node._os_name }} -f shell -c status) && echo "{{ node.name }} -> $STATUS" &
{% endfor %}
wait